# Proxy configuration for npm installs
proxy=http://proxy:8080
https-proxy=http://proxy:8080
cafile=/usr/local/share/ca-certificates/envoy-mitmproxy-ca-cert.crt
@eslint:registry=https://registry.npmjs.org/
registry=https://registry.npmjs.org/
